<div class="info">
    <div class="info-item">
        <a>
            <span>Posts</span>
            <p>10</p>
        </a>
    </div>
    <div class="info-item">
        <a>
            <span>Following</span>
            <p>10</p>
        </a>
    </div>
    <div class="info-item">
        <a>
            <span>Followers</span>
            <p>10</p>
        </a>
    </div>
</div>
<mat-list>
    <mat-list-item>Streams<i class="material-icons" (click)="showInfo()">announcement</i></mat-list-item>
    <mat-list-item>People<i class="material-icons" (click)="showInfo()">people</i></mat-list-item>
    <mat-list-item>Following<i class="material-icons" (click)="showInfo()">people</i></mat-list-item>
    <mat-list-item>Followers<i class="material-icons" (click)="showInfo()">people_outline</i></mat-list-item>
    <mat-list-item>Photos<i class="material-icons" (click)="showInfo()">photo_library</i></mat-list-item>
    <mat-list-item>Notifications<i class="material-icons" (click)="showInfo()">alarm</i></mat-list-item>
</mat-list>
