<div class="container">
    <mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>
    <div id="errorMsg" *ngIf="errorMessage">
        <span>{{errorMessage}}</span>
    </div>
    <form class="example-form" [formGroup]="loginForm" novalidate (ngSubmit)="loginUser()">
        <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Username"
                   [errorStateMatcher]="matcher"
                   formControlName="username">
            <mat-error *ngIf="usernameFormControl.hasError('minlength') && !usernameFormControl.hasError('required')">
                Username must contain more than 3 characters
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('maxlength')">
                Username must contain less than 30 characters
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput
                   type="password"
                   placeholder="Password"
                   [errorStateMatcher]="matcher"
                   formControlName="password">
            <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                Password must contain more than 8 characters
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
                Password must contain less than 30 characters
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button
                [disabled]="!loginForm.valid"
                color="primary">Login</button>
    </form>
</div>