.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #32c8ff;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
}

.main {
    display: flex;
    justify-content: center;
}

.main-items {
    display: flex;
    flex-direction: row;
}

.side-component {
    margin-right: 30px;
}

.side-component, .post-component {
    min-width: 30%;
    color: grey;
    margin-top: 50px;
}

.post-component {
    display: flex;
    flex-direction: column;
    min-width: 70%;
}

.post-component app-post-form {
    width: 100%;
}
