.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #32c8ff;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
}

.main {
    display: flex;
    justify-content: center;
}

.main-items {
    display: flex;
    flex-direction: row;
}

.side-component, .post-component {
    margin: 20px 10px;
    min-width: 150px;
    color: grey;
}

