<div class="container">
    <form class="example-form" [formGroup]="signupForm" novalidate (ngSubmit)="signupUser()">
        <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Username"
                   [errorStateMatcher]="matcher"
                   formControlName="username">
            <mat-error *ngIf="usernameFormControl.hasError('minlength') && !usernameFormControl.hasError('required')">
                Username must contain more than 3 characters
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('maxlength')">
                Username must contain less than 30 characters
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="E-mail"
                   [errorStateMatcher]="matcher"
                   formControlName="email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput
                   type="password"
                   placeholder="Password"
                   [errorStateMatcher]="matcher"
                   formControlName="password">
            <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                Password must contain more than 8 characters
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
                Password must contain less than 30 characters
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button
                [disabled]="!signupForm.valid"
                color="primary">Sign up</button>
    </form>
</div>